<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <title>Sign in</title>
        <!-- Using vuefire (the official Firebase binding) -->
    </head>
    <body>
        <div id="app">
            <ul is="transition-group">
                <li v-for="user in users" class="user" :key="user['.key']">
                    <span>{{user.name}} - {{user.email}}</span>
                    <button v-on:click="removeUser(user)">X</button>
                </li>
            </ul>
            <form id="form" v-on:submit.prevent="addUser">
                <input type="text" v-model="newUser.name" placeholder="Username">
                <input type="email" v-model="newUser.email" placeholder="email@email.com">
                <input type="submit" value="Add User">
            </form>
            <ul class="errors">
                <li v-show="!validation.name">Name cannot be empty.</li>
                <li v-show="!validation.email">Please provide a valid email address.</li>
            </ul>

            <!--Bootstrap related ui for signin: needs to change-->
            <div class="container">
                <form class="form-signin">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" data-cip-id="inputEmail"
                        type="email">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input id="inputPassword" class="form-control" placeholder="Password" required="" data-cip-id="inputPassword" type="password">
                    <div class="checkbox">
                        <label>
                            <input value="remember-me" type="checkbox"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
            <!--End-->
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>